.searchBox{
  background-color: #b22222;
}
.searchBox input[type=text]{
  font-size: 30px;
  border-radius: 10px;
  background-image: url('../../assets/lupa.png');
  background-position: 5px;
  background-repeat: no-repeat;
  background-size: 30px;
  padding-left: 35px;
  border: 4px solid #b4b4b4;
  outline: none;

}
.searchBox input:focus{
  border: 4px solid #6d6d6d;
}
