<div class="searchBox">
  <input placeholder="Hledat v " type="text">
</div>
<div class="mailsBody">
  <div class="control-elements">
    <img id="checkbox" src="../../assets/Rectangle 15.png" (click)="CheckAll()">
    <img id="important" src="../../assets/important.png">
    <img id="open" src="../../assets/openedEnvelope.png">
  </div>
  <div class="mails">
    <div class="mail">
        <img type="checkbox" id="mail1" src="../../assets/Rectangle 15.png" (click)="Check(this)">
        <img src="../../assets/important.png">
        <img src="../../assets/openedEnvelope.png">
      <h1 class="sender">%SENDER%</h1>
      <h1>%SUBJECT%</h1>
      <h2 class="perex"> - %Begining of text%</h2>
    </div>
    <div class="mail">
      <img type="checkbox" id="mail2" src="../../assets/Rectangle 15.png" (click)="Check(this)">
      <img src="../../assets/important.png">
      <img src="../../assets/openedEnvelope.png">
      <h1 class="sender">%SENDER%</h1>
      <h1>%SUBJECT%</h1>
      <h2 class="perex"> - %Begining of text%</h2>
    </div>
    <div class="mail">
      <img type="checkbox" id="mail3" src="../../assets/Rectangle 15.png" (click)="Check(this)">
      <img src="../../assets/important.png">
      <img src="../../assets/openedEnvelope.png">
      <h1 class="sender">%SENDER%</h1>
      <h1>%SUBJECT%</h1>
      <h2 class="perex"> - %Begining of text%</h2>
    </div>
    <div class="mail">
      <img type="checkbox" id="mail4" src="../../assets/Rectangle 15.png" (click)="Check(this)">
      <img src="../../assets/important.png">
      <img src="../../assets/openedEnvelope.png">
      <h1 class="sender">%SENDER%</h1>
      <h1>%SUBJECT%</h1>
      <h2 class="perex"> - %Begining of text%</h2>
    </div>
    <div class="mail">
      <img type="checkbox" id="mail5" src="../../assets/Rectangle 15.png" (click)="Check(this)">
      <img src="../../assets/important.png">
      <img src="../../assets/openedEnvelope.png">
      <h1 class="sender">%SENDER%</h1>
      <h1>%SUBJECT%</h1>
      <h2 class="perex"> - %Begining of text%</h2>
    </div>
  </div>
</div>